<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<h1>MAIN PAGE</h1>


</body>

<script>
  const url = "http://localhost:8081/api/sse/connect"; // 접속 주소
  const eventSource = new EventSource(url) // sse 연결

  eventSource.onopen = event => {
    console.log("sse connection");
    console.log(event);
  };

  eventSource.onmessage = event => {
    console.log("receive data : " + event.data);
  };

</script>
</html>